<app-header></app-header>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="text-center text-lg-start text-white bg-dark" >
      <!-- Grid container -->
      <div class="container-fluid p-4 pb-0">
        <section >
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 col-sm-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">About Us</h5>
  
              <p style="text-align: justify;">
                At A-Mart, we are more than just an e-commerce platform; 
                we're your trusted partner in finding the perfect products that suit your lifestyle, 
                needs, and desires. Our journey began with a vision to create a seamless and enjoyable online 
                shopping experience for our valued customers. With a commitment to quality, convenience, and
                customer satisfaction, we have curated a diverse range of products that cater to a wide spectrum
                of tastes and preferences.
              </p>
            </div>
            <!--Grid column-->
              <div class="col-lg-2 col-md-6 mb-4 mb-md-3 " >
              <h5 class="text-uppercase">All</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Electronics</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Fashion</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Jewelery</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 ">
              <h5 class="text-uppercase">Electronics</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">HDD</a>
                </li>
                <li>
                  <a href="#!" class="text-white">SSD</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Monitor</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 ">
              <h5 class="text-uppercase">Fashion</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">T-Shirt</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Jacket</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Shirt</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 ">
              <h5 class="text-uppercase">Jewelery</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Ring</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Ear-Ring</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Bracelet</a>
                </li>
              </ul>
            </div>
          </div>
        </section>  
            <!-- Section: Social media -->
            <section class="mb-4 text-center">
              <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" >
                    <i class="fab fa-facebook-f"></i>
                </a>
  
              <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" >
                    <i class="fab fa-twitter"></i>
                </a>
  
              <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" >
                    <i class="fab fa-google"></i>
                </a>
  
              <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" >
                    <i class="fab fa-instagram"></i>
                </a>
        </section>
            <!-- Section: Social media -->
        </div>
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)" >
        © 2023 Copyright:
        <a class="text-white" href="">A-Mart.com</a>
      </div>
</footer>
